*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1500px;
    margin: 0 auto;
}

.bgblack{
    background-color: rgba(24, 24, 24, 1);
}

.bgdark{
    background-color: rgba(24, 24, 24, 1);
}


/* Header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1097px;
    height: 119px;
    margin: 0 auto;
    padding-left: 39px;
    padding-right: 39px;
    box-sizing: border-box;
}


.nav ul{
    display: flex;
    gap: 31px;
    justify-content: center;
}

.nav ul li{
    list-style: none;
    color: #fff;
}

.header-btn{
    width: 139px;
    height: 52px;
    padding: 20px, 36px, 20px, 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}

.header-btn input{
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.2px;
    background: none;
    border: none;
    color: #fff;
}

/* Banner section */

.banner{
    height: 83vh;
}

.banner-text{
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.banner-text h2{
    box-sizing: border-box;
    width: 709px;
    height: 176px;
    padding: 0 30px;
    font-weight: 500;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #fff;
    margin-bottom: 17px;
}

.banner-text p{
    width: 582px;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #fff;
}

.banner-btns{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.banner-btn{
    width: 178px;
    height: 65px;
    background-color: rgba(68, 82, 254, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.banner-btn input{
    color: #fff;
    border: none;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.2px;
    background-color: transparent;
}

/* Screen section */
.screen{
    height: 100vh;
    position: relative;
}
.screen-images{
    display: flex;
    justify-content: center;
}

.screen-image:first-child{
    position: relative;
    top: 177px;
    left: 238px 
}

.screen-image:first-child img{
    width: 466px;
    /* height: 429px; */
}

.screen-image:nth-child(2) img{
    width: 441px;
    /* height: 429px; */
}

.screen-image:last-child{
    position: relative;
    top: 164px;
    right: 225px;
}

.screen-image:last-child img{
    width: 466px;
    /* height: 451px; */
}

.screen-footer-shadow{
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
}

/* Features section */

.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-heading{
    padding-top: 162px;
    margin-bottom: 80px;
}

.features-heading h2{
    font-weight: 400;
    font-size: 52px;
    color: #fff;
    margin-bottom: 27px;
    text-align: center;
}

.features-heading p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    width: 582px;
}

.features-body{
    width: 1088px;
    height: 759px;
    display: flex;
    justify-content: space-between;
}

.features-images{
    position: relative;
}

.features-image:nth-child(2){
    position: absolute;
    bottom: 50px;
    right: -28px;
}

.features-image:first-child img{
    width: 696px;
    height: 659px;
}

.features-image:nth-child(2) img{
    width: 400px;
    height: 276px;
}

.features-list{
    padding-top: 54px;
    width: 309px;
    height: 651px;
}

.features-item{
    width: 269px;
    height: 196px;
}

.features-item__heading{
    display: flex;
    align-items: center;
    gap: 10px;
}

.features-item__heading h2{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.5px;
}

.features-item__body p{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #fff;
    line-height: 24px;
}